/*-------------- media section ---------------*/
@media screen and (max-width:767px) {
  #testimonials {
    background-size: 0;
  }
  #testimonials h3.main-heading, #testimonials small.small-heading, #testimonials .text-content {
    text-align: center;
  }
  #pricing-plan img.recommeded-tag {
    display: none !important;
  }
  #pricing-plan .plan_package {
    text-align: center;
  }
  #about-us .about-details {
    text-align: center;
  }
  #about-us .section_main_head small {
    justify-content: center;
  }
  #footer ,#footer h3 {
    text-align: center !important;
  }
  #upcoming-events .tab-content-left {
    text-align: center;
  }
  #upcoming-events .tab-content-right {
    position: inherit;
  }
  #upcoming-events .card {
    padding: 1rem;
  }
  #hire_us .hire_us_btn {
    display: block !important;
    text-align: center;
  }
  #pricing-plan {
    padding-bottom: 0;
  }
  .contact_block_outer{
    position: static;
    margin-bottom: 20px;
  }
  #skills_show_case .Skills_box h6{
    padding-bottom: 24px;
  }
  #our-records {
    bottom: 0;
    margin-top: 0;
    padding: 2em 0;
  }
  .records-info {
    border: none;
    padding-left: 0;
  }
  .about-details, .banner_content, .section_main_head h3, .project_meta, .hiring_meta, .section_main_head, .news-box, .custom_block, .socialbox, .testimonial_text {
    text-align: center;
  }
  .section_main_head small {
    justify-content: center;
  }
  #our-services button.owl-next {
    right: 2%;
  }
  .services_block img {
    width: 100%;
  }
  #our-services button.owl-prev {
    left: 2%;
  }
  .banner_content {
    padding: 3em 2em !important;
  }
  .hire_us_btn {
    justify-content: center !important;
  }
  #our-projects .owl-nav, #consult_us .owl-nav, #hiring_roles .owl-nav {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 10px !important;
    position: unset;
  }
  .consult_box {
    max-width: 300px;
    margin: 0 auto;
  }
  .services_outer:nth-child(odd) {
    margin-top: 0;
  }
  .image_badge {
    max-width: 250px;
  }
  .owl-carousel .owl-dots {
    padding-top: 0;
  }
  #our-projects .owl-carousel, #hiring_roles .owl-carousel {
    padding-left: 3%;
    top: 0;
  }
  .badge_text {
    font-size: 14px;
  }
  #slider .slide_nav i {
    font-size: 17px;
    padding: 7px 9px;
  }
  .section_main_head h3 {
    font-size: 20px;
  }
  .contact_columns {
    margin-top: 20px;
  }
  .slide_p, .slide_form, .border_box {
    display: none;
  }
  .records-info img {
    margin: 0 auto !important;
    margin-bottom: 20px !important;
  }
  .testimonial-image img {
    margin: 0 auto !important;
  }
  .woocommerce-checkout .woocommerce-checkout .col-1,.woocommerce-checkout .woocommerce-checkout .col-2 {
    max-width: 100% !important;
  }
  #slider h3 {
    font-size: 18px ;
    text-align: center;
    line-height: 21px;
  }
  .woocommerce-cart table.cart td.actions .coupon .input-text {
    width: 37%;
  }
  #slider ol.carousel-indicators {
    display: none;
  }
  section {
    padding: 30px 0;
    background-size: cover;
  }
  blockquote {
    width: 100%;
  }
  .slider-box {
    padding: 0;
    max-width: 80%;
    left: 0;
    right: 0;
    border-style: none;
    top: 51%;
    text-align: center;
    margin: 0 auto;
    clip-path: none;
  }
  #slider .carousel-prev-button {
    left: 11px;
    bottom: 36%;
  }
  #slider .carousel-next-button {
    right: 11px;
    bottom: 36%;
    left: auto;
  }
  #pricing-plan .plan-details {
    max-width: 340px;
    margin: 0 auto;
  }
  .team-video-details, #single-team .about-head, .hiring-contact-shortcode input, .hiring-contact-shortcode textarea {
    text-align: center;
  }
}
@media screen and (max-width:576px) {
  #slider .slider-box .smalltext {
    display: none;
  }
  button.owl-prev {
    left: 10px;
  }
  button.owl-next {
    right: 10px;
  }
  .contact_columns {
    margin-top: 0;
  }
  .page_short_title {
    display: none;
  }
  .ts_breadcrumbs {
    padding: 4px 5px;
  }
  #achievements .carousel-indicators li span {
    margin: auto;
  }
}
@media screen and (min-width: 576px) and (max-width:767px) {
  button.owl-prev {
    left: 15px;
  }
  button.owl-next {
    right: 15px;
  }
  .woocommerce div.product div.images .flex-control-thumbs {
    margin: 10px 0 0 0;
  }
  .woocommerce-checkout .woocommerce-checkout .col-1,.woocommerce-checkout .woocommerce-checkout .col-2 {
    max-width: 100% !important;
  }
  .woocommerce-cart table.cart td.actions .coupon .input-text {
    width: 37%;
  }
}
@media screen and (min-width: 768px) and (max-width:799px) {
  #testimonials button.owl-next, #testimonials button.owl-prev {
    top: 99% ;
  }
  #testimonials button.owl-prev {
    left: 51%;
  }
  #testimonials button.owl-next {
    right: 35%;
  }
  #interested-banner .container {
    height: 225px;
  }
  #pricing-plan img.recommeded-tag {
    margin-left: 27%;
    margin-top: -25px;
  }
  #pricing-plan .plan_package {
    text-align: center;
  }
  #pricing-plan p {
    font-size: 14px;
  }
  #interested-banner .left-content {
    padding-left: 4.9%;
    margin-top: -9%;
  }
  #about-us .about-details {
    text-align: center;
  }
  #about-us .section_main_head small {
    justify-content: center;
  }
  #footer input[type="submit"] {
    left: 41.5% ;
  }
  #upcoming-events .tab-content-left {
    text-align: center;
  }
  #upcoming-events .tab-content-right {
    position: inherit;
  }
  #upcoming-events .card {
    padding: 1rem;
  }
  #Personalized-support p.left-small-head,#upcoming-events .upcoming-event-con, #Personalized-support h4.left-main-head,#Personalized-support p.left-para ,#Personalized-support .left-content {
    text-align: center;
  }
  #Personalized-support {
    background-size:13% auto, 35% auto;
  }
  #our-skills .row {
    justify-content: center;
  }
  #best-services-offered .video-icon {
    height: 35px;
    margin-top: 17%;
  }
  #about-us .bg_shape {
    display: none;
  }
  #about-us {
    padding: 0 0 20px 0;
  }
  #slider .slider-left-img img {
     height: 85%;
     width: auto;
     text-align: start;
  }
  #slider .slider-right-img img {
     height: 85%;
     width: auto;
     text-align: end;
  }
  #slider .left-purple-circle {
    height: 47px;
    width: 47px;
    top: 27.5%;
    margin-left: -5px;
  }
  #slider .left-green-circle {
    height: 22px;
    width: 22px;
    bottom: 8.5%;
    left: 28%;
  }
  #slider .right-purple-circle {
    height: 24px;
    width: 24px;
    top: 19%;
    margin-left: 6%;
  }
  #slider .slider-box {
    padding: 0;
  }
  #slider .right-green-circle {
    height: 53px;
    width: 53px;
    bottom: 0.8%;
    right: 4.5%;
  }
  #our-records {
    bottom: -31px;
    padding: 7em 0 2em 0;
  }
  #pricing-plan{
    padding-bottom: 0;
  }
  .project-box h5 a {
    font-size: 14px;
  }
  .support_widget .media {
    display: flex;
    text-align: left;
  }
  .banner_content {
    padding: 3em 3em !important;
  }
  #our-projects .owl-carousel {
    padding-left: 2%;
  }
  .quote_banner-head {
    margin-top: 0 !important;
  }
  button.owl-prev {
    left: 15px;
  }
  button.owl-next {
    right: 15px;
  }
  .media.testimonial-image {
    display: flex;
  }
  .records-info img {
    margin: 0 auto !important;
    margin-bottom: 20px !important;
  }
  #slider h3 {
    font-size: 35px;
    line-height: 50px;
  }
  #slider .carousel-prev-button {
    left: 12px;
  }
  #slider .carousel-next-button {
    right: 72%;
    left: 0;
    margin: 0 76px;
  }
  .slider-box {
    left: 0;
    top: 45%;
    right: 185px;
    margin: 0 auto;
    text-align: left;
    max-width: 70%;
  }
  #slider ol.carousel-indicators {
    display: none;
  }
  #our-vision .bg_shape {
    display: none;
  }
  #achievements .section_main_head small , #our-vision .section_main_head.black_head small {
    justify-content: center !important;
  }
  #achievements .carousel-indicators li span {
    margin: auto;
  }
  #our-vision {
    text-align: center;
  }
  #footer, #footer h3 {
    text-align: center !important;
  }
  #banner .section_main_head h3{
    font-size: 17px;
  }
  #banner .section_text{
    font-size: 10px;
    line-height: 19px;
  }
  #banner .theme_white_btn{
    font: 700 9px var(--font-notosans);
    padding: 9px 18px;
  }
  #interested-banner a.theme_button2{
    padding: 9px 45px;
    font-size: 10px;
  }

}
@media screen and (min-width: 800px) and (max-width:991px){
  #slider h3 {
    font: normal 800 23px/33px 'Manrope', sans-serif;
  }
  #slider .slide_p{
    display: block !important;
    font-size: 10px !important;
    line-height: 19px !important;
  }
  .slider-box{
    margin-left: 14px;
    padding: 0px 70px 50px 0px;
  }
  #slider a.theme_button2{
    font: 700 10px var(--font-notosans);
    padding: 10px 20px;
  }
  #slider ol.carousel-indicators{
    left: -4.5%;
    padding: 2px;
  }
  #slider .carousel-prev-button {
    left: 15%;
    bottom: 3.5%;
  }
  #slider .carousel-next-button{
    bottom: 3.5%;
    left: -5%;
  }
  #slider .slide_nav i{
    font-size: 14px;
    padding: 9px 13px;
  }
  .carousel-indicators [data-bs-target]{
    margin-right: 2px !important;
    margin-left: 2px !important;
  }
  #slider ol.carousel-indicators .active, #how-we-work .process-box:hover span{
    border: 1px solid #FF9227;
  }
  #slider ol.carousel-indicators .active{
    padding: 0px 7px;
  }
  #slider ol.carousel-indicators li{
    border: 1px solid #FF9227;
  }
  #slider .carousel-indicators [data-bs-target]{
    width: 4px !important;
  }
  #about-us .bg_shape{
    display: none;
  }
  #our-skills .row.aos-init.aos-animate {
    justify-content: center;
  }
  .banner_content{
    padding:3em 4em !important;
  }
  #banner .section_main_head h3{
    font-size: 16px;
  }
  .banner-head .section_text {
    font-size: 10px;
    line-height: 18px;
  }
  #banner .theme_white_btn{
    font: 700 10px var(--font-notosans);
    padding: 10px 20px;
  }
  #Personalized-support .left-content {
    text-align: center;
  }
  #pricing-plan img.recommeded-tag{
    margin-left: 26%;
    margin-top: -3%;
  }
  #testimonials .text-content{
    font-size: 12px;
    line-height: 19px;
    margin-top: 0 !important;
  }
  #best-services-offered .video-icon{
    left: 48%;
    height: 32px;
  }
  #testimonials .section_main_head small{
    font-size: 12px !important;
    line-height: 22px;
  }
  #testimonials h3.main-heading{
    font-size: 20px;
    line-height: 15px;
  }
  #testimonials button.owl-next, #testimonials button.owl-prev{
    top: 80%;
  }
  #testimonials button.owl-next {
    right: 37%;
  }
  #testimonials .owl-carousel .owl-nav i{
    font-size: 13px;
    padding: 10px 13px;
  }
  #interested-banner .left-content h4{
    font-size: 19px;
  }
  #interested-banner a.theme_button2{
    padding: 10px 40px;
    font-size: 10px;
  }
  #interested-banner .container{
    height: 235px;
  }
  #footer, #footer h3 {
    text-align: center !important;
  }
  body #footer input[type="submit"]{
    margin-left: 90px;
  }
}
@media screen and (max-width: 1024px) and (min-width:992px) {
  #testimonials button.owl-next, #testimonials button.owl-prev {
    top: 80% ;
  }
  #testimonials button.owl-next {
    right: 38%;
  }
  #interested-banner .container {
    height: 260px;
  }
  #footer input[type="submit"] {
    left: 28.5%;
  }
  #our-projects .project-head {
    margin-left: 55px;
  }
  #upcoming-events .tab-content-row {
    padding: 2rem 0 0 0;
  }
  #Personalized-support .record_title {
    font-size: 15px;
  }
  #Personalized-support .counter-para {
    font-size: 11px;
  }
  #Personalized-support {
    background-size: 13% auto, 27% auto;
  }
  #Personalized-support .left-para {
     font-size: 12px;
  }
  #slider .slider-left-img img {
     height: 85%;
     width: auto;
     text-align: start;
  }
  #slider .slider-right-img img {
     height: 85%;
     width: auto;
     text-align: end;
  }
  #slider .left-purple-circle {
    height: 67px;
    width: 67px;
    top: 26%;
    margin-left: -10px;
  }
  #slider .left-green-circle {
    height: 28px;
    width: 28px;
    bottom: 9%;
    left: 28.5%;
  }
  #slider h3 {
    font: normal normal 800 42px/53px Manrope;
  }
  #slider .carousel-caption .slide_p {
    font-size: 15px;
  }
  #slider .right-purple-circle {
    height: 27px;
    width: 27px;
    top: 19%;
    margin-left: 5.8%;
  }
  #slider .right-green-circle {
    height: 67px;
    width: 67px;
    bottom: 13px;
    right: 5.2%;
  }
  #our-projects .project_meta span {
    line-height: 15px;
  }
  #our-projects .short_title2 p{
    font-size: 13px;
  }
  #our-projects .work_title_box a{
    font-size: 15px;
  }
  .ts_breadcrumbs {
    top: 32px;
  }
  .bottom_quote {
    left: 20px;
  }
  .team_social {
    padding: 0px 3px;
  }
  button.owl-prev {
    left: 25px;
  }
  button.owl-next {
    right: 25px;
  }
  .socialbox a i {
    font-size: 12px;
    width: auto;
  }
  .widget th, .widget td {
    padding: 0;
  }
  #slider ol.carousel-indicators {
    /* bottom: 21%;
    margin-left: 8%; */
    margin-left: 8%;
    left: -7%;
    margin-bottom: 3% ;
  }
  #slider .carousel-next-button {
    right: auto;
    bottom: 5px;
  }
  #slider .carousel-prev-button {
    left: 125px;
    bottom: 5px;
  }
  .slider-box {
    padding: 0px 87px 13px 30px;
    max-width: 70%;
  }
  #pricing-plan img.recommeded-tag {
    margin-left: 15.8%;
  }
  #upcoming-events .ue-tab-menu{
    padding-bottom: 4rem;
  }
  .contact_block_outer {
    right: 30px;
  }
}
@media screen and (max-width: 991px) {
  .toggle-menu i, .search-box i{
    background-color: #FF9227 !important;
  }
  #menu-sidebar{
    background-image: linear-gradient(-90deg, #ff9800 0%, #ffc672 120% ) !important;
  }
  .hiring_features_box .i_block {
    height: auto;
  }
  .project_row .tab-pane {
    margin-bottom: 20px;
  }
  .hiring_features_box .i_block i {
    margin: 0 auto !important;
    padding-right: 0;
    display: block !important;
    padding-bottom: 20px;
  }
  #our-vision .bg_shape, .ts_breadcrumbs:after {
    display: none;
  }
  .ts_breadcrumbs {
    top: 0;
    padding: 9px 9px;
  }
  .banner_title_box h1 {
    font-size: 20px;
  }
  .content_on_banner {
    justify-content: center;
    text-align: center !important;
  }
  .content_on_banner, .banner_title_box h1, h1 {
    text-align: center !important;
  }
  .ts_breadcrumbs a, .ts_breadcrumbs span.current {
    font-size: 14px;
  }
  .bottom_quote {
    left: 20px;
  }
  #achievements .slide_nav {
    margin: 0 auto;
    text-align: center;
  }
  .achievements-details {
    text-align: center;
  }
  #hiring_banner {
    padding: 2em 2em;
  }
  .contact_block_outer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    left: 0;
  }
  .video-image {
    margin-top: 20px !important;
  }
  .about_outer {
    position: relative !important;
  }
  .bg_shape2, .blank_bg {
    display: none;
  }
  #business_features .i_block {
    margin-right: auto;
  }
  #business_features .i_block {
    height: 80px;
  }
  .plan_row {
    margin-top: 3em !important;
  }
  .plan-info {
    margin-bottom: 7em;
  }
  #pricing-plan .plan-info:nth-child(even) {
    margin-top: 0em;
  }
  .quote_banner-head {
    padding-right: 0;
    margin-top: 7em;
  }
  .quote_left_img {
    margin-top: 0 !important;
  }
  #slider .slide_p {
    display: none;
  }
  .about-image {
    margin-top: 20px;
  }
  .media {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  #our-brands .owl-carousel .owl-dots {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .team-video-details, #single-team .about-head {
    padding-top: 2em;
  }
  .quote_section i {
    font-size: 32px;
    bottom: 10px;
  }
}
@media screen and (max-width: 1040px) and (min-width: 1025px){
  .primary-navigation a{
    font-size: 10px !important;
  }
  body #footer input[type="submit"] {
    left: 21%;
  }
  .primary-navigation ul li a {
    padding: 20px 10px !important;
  }
  .main-menu {
    width: 104%;
  }
  .logo .site-title a{
    font-size: 22px !important;
  }
  #slider h3 {
    font: normal 800 28px/46px 'Manrope', sans-serif;
  }
  .slider-box{
    margin-left: 40px;
  }
  #slider .slide_p {
    line-height: 20px !important;
    font-size: 10px !important;
  }
  #slider a.theme_button2{
    font: 700 10px var(--font-notosans);
    padding: 11px 20px;
  }
  #slider ol.carousel-indicators{
    margin-left: 15%;
  }
  #slider .carousel-prev-button{
    left: 14.5%;
  }
  #slider .slide_nav i{
    padding: 10px 15px;
    font-size: 17px;
  }
  #slider .carousel-next-button{
    left: -1%;
    right: 55%;
  }
  #slider .carousel-indicators [data-bs-target]{
    width: 3px !important;
    height: 2px !important;
  }
  #slider ol.carousel-indicators .active{
    padding: 0 6px;
  }
  .about-details{
    padding: 5.4em 15em;
  }
  .bg_shape{
    left: -139px;
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
  }
  #about-us .section_main_head h3{
    font-size: 24px;
  }
  #about-us .image_badge .media .media-body{
    padding: 14px 10px 14px 22px;
  }
  .badge_text{
    font: 600 18px var(--font-manrope);
  }
  #about-us .about-text{
    font-size: 13px;
    line-height: 22px;
  }
  #about-us a.theme_button2{
    padding: 11px 19px;
  }
  .custom_block{
    padding: 12px 6px;
  }
  .skills_p{
    font-size: 12px;
    line-height: 19px;
  }
  .custom_block_i{
    width: 68px;
    height: 68px;
  }
  .banner_content{
    padding: 3em 3em !important;
  }
  .project-head{
    margin-left: 40px;
  }
  #Personalized-support h4{
    font-size: 26px;
  }
  #Personalized-support p.left-para {
    font-size: 12px;
    line-height: 22px;
  }
  #Personalized-support .counter-para{
    font-size: 11px;
    line-height: 19px;
  }
  #pricing-plan .plan-box-content:nth-child(2) .recommeded-tag{
    height: 145px;
  }
  #testimonials button.owl-next, #testimonials button.owl-prev{
    top: 80%;
  }
  #testimonials button.owl-next {
    right: 38%;
  }
  .news_content h5 a {
    font-size: 16px;
  }
  .news-text{
    font-size: 12px;
    line-height: 19px;
  }
  #interested-banner .container{
    height: 262px;
  }
}
@media screen and (max-width: 1499px) and (min-width: 1041px) {
  #our-projects .project-head {
    margin-left: 33px;
  }
  .team_social {
    padding: 0px 3px;
  }
  .ts_breadcrumbs {
    top: 32px;
  }
  button.owl-prev {
    left: 25px;
  }
  button.owl-next {
    right: 25px;
  }
  .widget th, .widget td {
    padding: 0;
  }
  .widget th, .widget td {
    padding: 0;
  }
  .slider-box {
    padding-top: 17px;
    max-width: 60%;
  }
  #slider ol.carousel-indicators {
    bottom: 21%;
    margin-left: 8%;
  }

}
/* ================new================== */
@media (max-width: 1920px) and (min-width: 1500px) {
  .container {
    max-width: 1440px !important;
    width: 1440px !important;
  }
  .about-details {
    padding: 12em 15em;
  }
  .bg_shape {
    clip-path: polygon(22% 0,100% 0%,100% 100%,0% 100%);
    left: -210px;
  }
  .about_outer {
    top: 25px;
  }
  body #footer input[type="submit"]{
    left: 27%;
  }
  .primary-navigation ul li a{
    padding: 20px 15px !important;
  }
  .custom_block {
    padding: 55px 40px;
  }
  .short_title {
    padding: 20px 45px;
  }
  .banner_content {
    padding: 14em 16em!important;
  }
  #pricing-plan .plan-box-content {
    padding: 20px !important;
  }
  #testimonials .owl-carousel .owl-nav i{
    font-size: 20px;
    padding: 15px 19px;
  }
  #testimonials button.owl-next {
    right: 40.5%;
  }
  #Personalized-support .record_title{
    font-size: 18px;
  }
  #Personalized-support .counter-para {
    font-size: 14px;
  }
  #Personalized-support .our-records-info {
    padding: 50px 32px;
  }
  #interested-banner .container{
    height: 390px;
  }
  #skills_show_case {
    padding: 148px 0 ;
  }
  #slider ol.carousel-indicators {
    margin-left: 12px;
    left: 0;
    margin-bottom: 12%;
  }
  #slider ol.carousel-indicators .active {
    padding: 0 10px;
  }
  #slider .carousel-prev-button {
    left: 18.1%;
    bottom: 16.7%;
  }
  #slider .carousel-next-button {
    margin: 0px 98px;
    left: 13.8%;
    right: 66%;
    bottom: 16.7%;
  }
  #slider .carousel-caption {
    top: 65px !important;
  }
  #slider .slider-right-img {
    padding-top: 60px;
  }
  #slider .slider-box .smalltext {
    font: normal normal normal 17px/27px Noto Sans;
  }
  #slider h3 {
    font: normal normal 700 57px/77px Manrope;
  }
  #slider .slider-box {
    top: 47.7%;
    margin-left: 0;
    padding: 0px 0px 50px 0px;
  }
  #slider .carousel-caption .slide_p {
    font: normal 19px/35px Noto Sans;
  }
  #slider .left-purple-circle {
    height: 84px;
    width: 84px;
    top: 25.2%;
  }
  #slider .left-green-circle {
    height: 41px;
    width: 41px;
    bottom: 18%;
  }
  #slider a.read-more {
    margin-top: 25px;
    font: 800 16px var(--font-notosans);
    padding: 15px 26px;
  }
  #slider .right-purple-circle {
    height: 41px;
    width: 41px;
    top: 15%;
  }
  #slider .right-green-circle {
    height: 100px;
    width: 100px;
    bottom: 109px;
    right: 3.5%;
  }
  #slider .carousel-caption .slide_p, #slider .carousel-caption .slide_p p {
    padding: 0;
  }
  #Personalized-support {
    background-size: 14% auto, 20% auto;
    background-position: top 36px left -55px, bottom right 115px;
  }
  #best-services-offered .video-icon {
    margin-top: 13%;
  }
  #upcoming-events .card-body {
    padding: 2rem 1rem;
  }
  #pills-tabContent {
    padding: 2rem 0;
  }
  #our-projects .project-head {
    margin-left: -80px;
  }
  #our-projects .owl-carousel .owl-nav i {
    font-size: 25px;
  }
  #Personalized-support h4 {
    font-size: 32px;
    margin: 0 0 15px;
  }.
  #upcoming-events .tab-content-right {
    right: 10%;
  }
  #upcoming-events .card {
    padding: 0 3% 0 18.2%;
  }
  #upcoming-events .event-btm-border {
    padding: 0 0 1rem 0;
  }
  #footer input[type="submit"] {
    width: 5% !important;
    left: 33%;
  }
  #pricing-plan img.recommeded-tag {
    margin-left: 15%;
    margin-top: -1.3%;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  #interested-banner .left-content {
    text-align: center;
    margin-top: 0;
    padding-left: 0;
    padding-top: 1rem;
  }
  #interested-banner .container {
    height: 365px;
  }
  #footer input[type="submit"] {
    left: 82%;
  }
  #Personalized-support .left-content {
    text-align: center;
  }
  #about-us {
    padding: 0;
  }
  #slider .slider-left-img img {
     height: 85%;
     width: auto;
     text-align: start;
  }
  #slider .slider-right-img img {
     height: 85%;
     width: auto;
     text-align: end;
  }
  #slider .carousel-caption {
    text-align: start;
  }
  #slider h3 {
    margin: 0;
    text-align: left;
    font-size: 16px ;
  }
  #slider .slider-box {
    margin: -10px 5px;
    text-align: left;
  }
  #slider .slide_nav {
    display: none;
  }
  #slider a.read-more {
    margin: 0;
  }
  #slider a.theme_button2 {
    font: 700 8px var(--font-notosans);
    padding: 7px 13px;
  }
  #best-services-offered .video-icon {
    height: 35px;
  }
  #upcoming-events .card {
    text-align: center;
  }
  #testimonials small.small-heading {
    padding-top: 5rem;
  }
  #testimonials button.owl-next, #testimonials button.owl-prev {
    top: 55%;
  }
  #testimonials button.owl-prev {
    left: 32%;
  }
  #testimonials button.owl-next {
    right: 34%;
  }
  #testimonials .text-content {
    margin: 0 !important;
  }
}
@media (max-width: 424px) and (min-width: 376px) {
  #testimonials small.small-heading {
    padding-top: 5rem;
  }

  #testimonials button.owl-next, #testimonials button.owl-prev {
    top: 61.5%;
  }
  #testimonials button.owl-prev {
    left: 33%;
  }
  #testimonials button.owl-next {
    right: 35%;
  }
  #footer input[type="submit"] {
    left: 82%;
  }
  #interested-banner .left-content {
    text-align: center;
    margin-top: 0;
    padding-left: 0;
    padding-top: 1rem;
  }
  #interested-banner .container {
    height: 430px;
  }
  #slider h3 {
    margin: 0;
    text-align: left;
    font-size: 20px ;
  }
  #slider .slider-box {
    margin: -10px 5px;
    text-align: left;
  }
  #slider .slide_nav {
    display: none;
  }
}
@media (max-width: 560px) and (min-width: 425px) {
  #testimonials button.owl-next, #testimonials button.owl-prev {
    top: 71%;
  }
  #testimonials button.owl-prev {
    left: 37%;
  }
  #testimonials small.small-heading {
    padding-top: 5rem;
  }
  #testimonials .text-content {
    margin: 0 !important;
  }
  #slider .slide_nav {
    display: none;
  }
  #slider h3 {
    margin: 0;
    text-align: left;
    font-size: 24px ;
    line-height: 30px;
  }
  #slider .slider-box {
    margin: 0;
    text-align: left;
  }
  #interested-banner .left-content {
    text-align: center;
    margin-top: 0;
    padding-left: 0;
    padding-top: 1rem;
  }
  #interested-banner .container {
    height: 465px;
  }
  #footer input[type="submit"] {
    left: 85%;
  }
  #upcoming-events .card {
    text-align: center;
  }
  #Personalized-support .left-content {
    text-align: center;
  }
  #about-us {
    padding: 0;
  }
  #Personalized-support {
    background-size: 22% auto, 60% auto;
    background-position: top 30px left -40px, bottom 30px right;
  }
  #best-services-offered .video-icon {
    height: 25px;
    margin-top: 18%;
  }
  #slider .carousel-caption {
    text-align: start;
  }
  #slider a.read-more{
    margin: 0;
  }
  #slider a.theme_button2 {
    font: 700 10px var(--font-notosans);
  }
}
