/*-------------- media section ---------------*/
@media screen and (max-width:767px) {
  #hire_us .hire_us_btn {
    display: block !important;
    text-align: center;
  }
  #pricing-plan {
    padding-bottom: 0;
  }
  .contact_block_outer{
    position: static;
    margin-bottom: 20px;
  }
  #skills_show_case .Skills_box h6{
    padding-bottom: 24px;
  }
  #our-records {
    bottom: 0;
    margin-top: 0;
    padding: 2em 0;
  }
  .records-info {
    border: none;
    padding-left: 0;
  }
  .about-details, .banner_content, .section_main_head h3, .project_meta, .hiring_meta, .section_main_head, .news-box, .custom_block, .socialbox, .testimonial_text {
    text-align: center;
  }
  .section_main_head small {
    justify-content: center;
  }
  #our-services button.owl-next {
    right: 2%;
  }
  .services_block img {
    width: 100%;
  }
  #our-services button.owl-prev {
    left: 2%;
  }
  .banner_content {
    padding: 3em 2em !important;
  }
  .hire_us_btn {
    justify-content: center !important;
  }
  #our-projects .owl-nav, #consult_us .owl-nav, #hiring_roles .owl-nav {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 10px !important;
    position: unset;
  }
  .consult_box {
    max-width: 300px;
    margin: 0 auto;
  }
  .services_outer:nth-child(odd) {
    margin-top: 0;
  }
  .image_badge {
    max-width: 250px;
  }
  .owl-carousel .owl-dots {
    padding-top: 0;
  }
  #our-projects .owl-carousel, #hiring_roles .owl-carousel {
    padding-left: 3%;
    top: 0;
  }
  .badge_text {
    font-size: 14px;
  }
  #slider .slide_nav i {
    font-size: 17px;
    padding: 7px 9px;
  }
  .section_main_head h3 {
    font-size: 20px;
  }
  .contact_columns {
    margin-top: 20px;
  }
  .section_main_head {
    padding-bottom: 20px !important;
  }
  .slide_p, .slide_form, .border_box {
    display: none;
  }
  .records-info img {
    margin: 0 auto !important;
    margin-bottom: 20px !important;
  }
  .testimonial-image img {
    margin: 0 auto !important;
  }
  .woocommerce-checkout .woocommerce-checkout .col-1,.woocommerce-checkout .woocommerce-checkout .col-2 {
    max-width: 100% !important;
  }
  #slider h3 {
    font-size: 18px !important;
    text-align: center;
    line-height: 21px;
  }
  .woocommerce-cart table.cart td.actions .coupon .input-text {
    width: 37%;
  }
  #slider ol.carousel-indicators {
    display: none;
  }
  section {
    padding: 30px 0;
    background-size: cover;
  }
  blockquote {
    width: 100%;
  }
  .slider-box {
    padding: 0;
    max-width: 80%;
    left: 0;
    right: 0;
    border-style: none;
    top: 51%;
    text-align: center;
    margin: 0 auto;
    clip-path: none;
  }
  #slider .carousel-prev-button {
    left: 11px;
    bottom: 36%;
  }
  #slider .carousel-next-button {
    right: 11px;
    bottom: 36%;
    left: auto;
  }
  #pricing-plan .plan-details {
    max-width: 340px;
    margin: 0 auto;
  }
  .team-video-details, #single-team .about-head, .hiring-contact-shortcode input, .hiring-contact-shortcode textarea {
    text-align: center;
  }
}
@media screen and (max-width:576px) {
  #slider .slider-box .smalltext {
    display: none;
  }
  button.owl-prev {
    left: 10px;
  }
  button.owl-next {
    right: 10px;
  }
  .contact_columns {
    margin-top: 0;
  }
  .page_short_title {
    display: none;
  }
  .ts_breadcrumbs {
    padding: 4px 5px;
  }
}
@media screen and (min-width: 576px) and (max-width:767px) {
  button.owl-prev {
    left: 15px;
  }
  button.owl-next {
    right: 15px;
  }
  .woocommerce div.product div.images .flex-control-thumbs {
    margin: 10px 0 0 0;
  }
  .woocommerce-checkout .woocommerce-checkout .col-1,.woocommerce-checkout .woocommerce-checkout .col-2 {
    max-width: 100% !important;
  }
  .woocommerce-cart table.cart td.actions .coupon .input-text {
    width: 37%;
  }
}
@media screen and (min-width: 768px) and (max-width:991px) {
  #our-records {
    bottom: -31px;
    padding: 7em 0 2em 0;
  }
  #pricing-plan{
    padding-bottom: 0;
  }
  .project-box h5 a {
    font-size: 14px;
  }
  .support_widget .media {
    display: flex;
    text-align: left;
  }
  .banner_content {
    padding: 3em 3em !important;
  }
  #our-projects .owl-carousel {
    padding-left: 2%;
  }
  .quote_banner-head {
    margin-top: 0 !important;
  }
  button.owl-prev {
    left: 15px;
  }
  button.owl-next {
    right: 15px;
  }
  .media.testimonial-image {
    display: flex;
  }
  #testimonials button.owl-next {
    right: -14px;
  }
  #testimonials button.owl-prev {
    left: -14px;
  }
  .records-info img {
    margin: 0 auto !important;
    margin-bottom: 20px !important;
  }
  #slider h3 {
    font-size: 20px;
    line-height: 25px;
  }
  #slider .carousel-prev-button {
    left: 12px;
  }
  #slider .carousel-next-button {
    right: 12px;
  }
  .slider-box {
    padding-bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    max-width: 70%;
  }
  #slider ol.carousel-indicators {
    bottom: 32%;
    right: 0;
  }
  #our-vision .bg_shape {
    display: none;
  }
}
@media screen and (max-width: 1024px) and (min-width:992px) {
  .ts_breadcrumbs {
    top: 32px;
  }
  .bottom_quote {
    left: 20px;
  }
  .team_social {
    padding: 0px 3px;
  }
  button.owl-prev {
    left: 25px;
  }
  button.owl-next {
    right: 25px;
  }
  .socialbox a i {
    font-size: 12px;
    width: auto;
  }
  .widget th, .widget td {
    padding: 0;
  }
  #slider ol.carousel-indicators {
    bottom: 21%;
    margin-left: 8%;
  }
  #slider .carousel-next-button {
    right: 20px;
  }
  #slider .carousel-prev-button {
    left: 20px;
  }
  .slider-box {
    padding: 0px 50px 49px 70px;
    max-width: 70%;
  }
}
@media screen and (max-width: 991px) {
  .hiring_features_box .i_block {
    height: auto;
  }
  .project_row .tab-pane {
    margin-bottom: 20px;
  }
  .hiring_features_box .i_block i {
    margin: 0 auto !important;
    padding-right: 0;
    display: block !important;
    padding-bottom: 20px;
  }
  #our-vision .bg_shape, .ts_breadcrumbs:after {
    display: none;
  }
  .ts_breadcrumbs {
    top: 0;
    padding: 9px 9px;
  }
  .banner_title_box h1 {
    font-size: 20px;
  }
  .content_on_banner {
    justify-content: center;
    text-align: center !important;
  }
  .content_on_banner, .banner_title_box h1, h1 {
    text-align: center !important;
  }
  .ts_breadcrumbs a, .ts_breadcrumbs span.current {
    font-size: 14px;
  }
  .bottom_quote {
    left: 20px;
  }
  #achievements .slide_nav {
    margin: 0 auto;
    text-align: center;
  }
  .achievements-details {
    text-align: center;
  }
  #hiring_banner {
    padding: 2em 2em;
  }
  .contact_block_outer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    left: 0;
  }
  .video-image {
    margin-top: 20px !important;
  }
  .about_outer {
    position: relative !important;
  }
  .bg_shape2, .blank_bg {
    display: none;
  }
  #business_features .i_block {
    margin-right: auto;
  }
  #business_features .i_block {
    height: 80px;
  }
  .plan_row {
    margin-top: 3em !important;
  }
  .plan-info {
    margin-bottom: 7em;
  }
  #pricing-plan .plan-info:nth-child(even) {
    margin-top: 0em;
  }
  .quote_banner-head {
    padding-right: 0;
    margin-top: 7em;
  }
  .quote_left_img {
    margin-top: 0 !important;
  }
  #slider .slide_p {
    display: none;
  }
  .about-image {
    margin-top: 20px;
  }
  .media {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  #our-brands .owl-carousel .owl-dots {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .team-video-details, #single-team .about-head {
    padding-top: 2em;
  }
  .quote_section i {
    font-size: 32px;
    bottom: 10px;
  }
}
@media screen and (max-width: 1399px) and (min-width: 1025px) {
  .team_social {
    padding: 0px 3px;
  }
  .ts_breadcrumbs {
    top: 32px;
  }
  button.owl-prev {
    left: 25px;
  }
  button.owl-next {
    right: 25px;
  }
  .widget th, .widget td {
    padding: 0;
  }
  .widget th, .widget td {
    padding: 0;
  }
  .slider-box {
    left: 40px;
    padding-top: 17px;
    max-width: 60%;
  }
  #slider ol.carousel-indicators {
    bottom: 21%;
    margin-left: 8%;
  }
  #slider .carousel-next-button {
    right: 20px;
  }
  #slider .carousel-prev-button {
    left: 20px;
  }
}